@font-face {
    font-family: robotoRegular;
    src: url("src/font/robotofonts/Roboto-Regular.ttf");
  }


@font-face {
    font-family: robotoBold;
    src: url("src/font/robotofonts/Roboto-Bold.ttf");
  }

@font-face {
    font-family: robotoMedium;
    src: url("src/font/robotofonts/Roboto-Medium.ttf");
  }

  @font-face {
      font-family: bebas;
      src: url("src/font/bebasNeue/BebasNeue-Regular.ttf");
    }


body {
    font-family : robotoRegular;
    color: #282828;
}

h1 {
    font-family : bebas;
    color: #008B9E;
}

h2 {
    font-family :robotoBold;
    color: #008B9E;

}

h3 {
    font-family : robotoBold;
    color: #282828;


}

p {
    font-family : robotoRegular;
}

footer {
    color: black;
}








